* {
	margin:0;
	padding:0;
}

 

/*START OF THE HEADER*/

header {
	z-index:1000;
	background:#FFF;
	width:100%;
	height:130px;
	position: fixed;
	border-bottom: 1px solid #A36E3C; 
}
	/*THE CONTAINER*/
	#first {
		margin-top:15px;
	}

		.titlez {
			color:#A36E3C;
			margin-left: 70px;
			text-align: center;
			letter-spacing: 2px;
			font-weight:600;	 
		}
			/*THE NAMES OF THE THINGS*/
			.names {
				text-decoration: none;
			    list-style-type: none;
			    margin: 0;
			    padding: 0;
			    text-align: center;
			    padding-top:10px;
			}

	 

				header li {
					display: inline-block;    
				}

				li a {
					text-transform: uppercase;
					letter-spacing: 6px;
					color:#A36E3C;
					margin-left: 50px;
					font-size:16px;
					 padding:30px;
					text-decoration: none;
				}

				li a:hover {
					text-decoration:none;
					transition:color 0.5s ease;
					color:#ccac00;
					 
				}

			header li a:active {
					text-decoration:none;
					color:#ccac00;
				}
	/*THE SOCIAL MEDIA PICS**/
.Media {
	 
	 float:right;
	 width:115px;
}

/*HEADER FINISHED ↑↑↑↑↑↑↑↑↑↑*/

/*SECTION ONE*/
.home {
	 
 
 
	 background-image: url("SectionImages/sec1bg.jpg");
	 background-size: cover;
	 background-repeat: no-repeat;
	 display:flex;
	 flex-direction: column;
	 justify-content:center;
	 align-items: center;
	width:100%;
	height:100vh;
	border-bottom: 1px solid #A36E3C;
 }

 /*MEDIA QUERY  FOR ALL*/

 /*IPHONE 5*/
@media screen and (min-width:320px) and (max-width:320px) {	 	
	 
	.Media {
		float:left;
	}

	.titlez {
		
		font-size:18px;
	}

	.names {
		 
		text-align: center;
	}


	header  li a {
		  
	 	padding:0;
	 	margin:0;
	 	letter-spacing: 1px;
	 	font-size:12px;

	 }


	 .story p {
	 	font-size:13px;
	 	width:300px;
	 }


	 	.menu {
 			display:flex;
 			flex-direction:column;
 			align-items: center;
 			justify-content: center;
 		}
 		.story h1 {
 			font-size:30px;
 			margin-top:120px;
 		}

 		 .story p {
 		 	font-size:13px;
 		 	width:320px;		  
 		 }

 		 .menu h1 {
 		 	font-size:50px;
 		 }
 			
 		.menu .view {
 			font-size:20px;
 		}

 		 #menup {
 		 	display:none;
 		 }

 		 .lefts {	
 		 	display:none;
 		 }	

 		 .centers {
 		 	display:none;
 		 }

 		 .rights{
 		 	display:none;
 		 }
	 
 }



 /*GALAXY s5*/
 @media screen and (min-width:360px) and  (max-device-width: 360px) {
 		.titlez {
 			margin-left: 0px;
 			font-size:20px;
 		}

 		.names {
 			 margin-right: 10px;
 			text-align:left;
 		}

 		header li a {

 			letter-spacing: 2px;
 			font-size:10px;
 			margin-left: 5px;
 			padding:0;
 		}	 

 		.Media {
 			float:right;
 		}


 		/*SECTION THREE*/

 		.menu {
 			display:flex;
 			flex-direction:column;
 			align-items: center;
 			justify-content: center;
 		}
 		.story h1 {
 			font-size:30px;
 			margin-top:120px;
 		}

 		 .story p {
 		 	font-size:13px;
 		 	width:320px;		  
 		 }

 		 .menu h1 {
 		 	font-size:50px;
 		 }
 			
 		.menu .view {
 			font-size:20px;
 		}

 		 #menup {
 		 	display:none;
 		 }

 		 .lefts {	
 		 	display:none;
 		 }	

 		 .centers {
 		 	display:none;
 		 }

 		 .rights{
 		 	display:none;
 		 }

 		.location .street {
 			font-size:15px;
 		 
 		}	

 		.location .time {
 			font-size:15px;
 		}

 		.location .phone {
 			font-size:15px;
 		}

 		}

/*IPHONE 6*/

  @media screen and (min-width: 375px) and  (max-device-width: 375px) {
  		.Media {
  			float:left;
  		}

  		.titlez {
  			margin-right: 50px; 
  		}

  		.names {
  			 
  		}

  		header li a {

  			padding:0;
  			margin:0;
  			letter-spacing: 1px;
  			font-size:13px;
  		}

  		.story p {
  			font-size:13px;
  			width:300px;
  		}

  			.menu {
 			display:flex;
 			flex-direction:column;
 			align-items: center;
 			justify-content: center;
 		}
 		.story h1 {
 			font-size:30px;
 			margin-top:120px;
 		}

 		 .story p {
 		 	font-size:13px;
 		 	width:320px;		  
 		 }

 		 .menu h1 {
 		 	font-size:50px;
 		 }
 			
 		.menu .view {
 			font-size:20px;
 		}

 		 #menup {
 		 	display:none;
 		 }

 		 .lefts {	
 		 	display:none;
 		 }	

 		 .centers {
 		 	display:none;
 		 }

 		 .rights{
 		 	display:none;
 		 }

  }

/*NEXAS 5X*/
@media screen and (min-width:411px) and  (max-device-width: 411px) {
			.Media {
				float:left;
			}

			.titlez {
				margin-right: 50px;
			}	

			header li a  {
				 padding:0;
				 margin:0;
				 letter-spacing: 1px;
			}
 			
 			.story p {
 				width:400px;
 				font-size:14px;
 			}

 				.menu {
 			display:flex;
 			flex-direction:column;
 			align-items: center;
 			justify-content: center;
 		}
 		.story h1 {
 			font-size:30px;
 			margin-top:120px;
 		}

 		 .story p {
 		 	font-size:13px;
 		 	width:320px;		  
 		 }

 		 .menu h1 {
 		 	font-size:50px;
 		 }
 			
 		.menu .view {
 			font-size:20px;
 		}

 		 #menup {
 		 	display:none;
 		 }

 		 .lefts {	
 		 	display:none;
 		 }	

 		 .centers {
 		 	display:none;
 		 }

 		 .rights{
 		 	display:none;
 		 }
}

@media only screen and (min-width: 414px) and (max-device-width:414px) {
		.Media {
			float:left;
		}
		.titlez {
			margin-right:50px;
		}

		header li a {
			margin:0;
			padding:0;
			font-size:14px;
			letter-spacing: 1px;
		}


		.story p {
			width:300px;
			font-size:14px;
		}
			.menu {
 			display:flex;
 			flex-direction:column;
 			align-items: center;
 			justify-content: center;
 		}
 		.story h1 {
 			font-size:30px;
 			margin-top:120px;
 		}

 		 .story p {
 		 	font-size:13px;
 		 	width:320px;		  
 		 }

 		 .menu h1 {
 		 	font-size:50px;
 		 }
 			
 		.menu .view {
 			font-size:20px;
 		}

 		 #menup {
 		 	display:none;
 		 }

 		 .lefts {	
 		 	display:none;
 		 }	

 		 .centers {
 		 	display:none;
 		 }

 		 .rights{
 		 	display:none;
 		 }
}

@media only screen and (min-width:435px) and (max-device-width:435px) {
	.Media {
		float:left;
	}

	.names {
		margin-right: 10px;
	}

	header li a {
		padding:0;
		margin:2px;
		font-size:16px;
		letter-spacing: 1px;
	}

	.story p {
		font-size:13px;
		width:320px;
	}
		.menu {
 			display:flex;
 			flex-direction:column;
 			align-items: center;
 			justify-content: center;
 		}
 		.story h1 {
 			font-size:30px;
 			margin-top:120px;
 		}

 		 .story p {
 		 	font-size:13px;
 		 	width:320px;		  
 		 }

 		 .menu h1 {
 		 	font-size:50px;
 		 }
 			
 		.menu .view {
 			font-size:20px;
 		}

 		 #menup {
 		 	display:none;
 		 }

 		 .lefts {	
 		 	display:none;
 		 }	

 		 .centers {
 		 	display:none;
 		 }

 		 .rights{
 		 	display:none;
 		 }
}


 	@media only screen and (min-width: 480px) and (max-device-width: 480px) {
 		.titlez {
 			margin-right:40px;
 		}

 			li a {
 				font-size:12px;
 				letter-spacing: 1px;
 				margin-left: 0px;
 				padding: 0px;
 			}

 				.menu {
 			display:flex;
 			flex-direction:column;
 			align-items: center;
 			justify-content: center;
 		}
 		.story h1 {
 			font-size:30px;
 			margin-top:120px;
 		}

 		 .story p {
 		 	font-size:13px;
 		 	width:320px;		  
 		 }

 		 .menu h1 {
 		 	font-size:50px;
 		 }
 			
 		.menu .view {
 			font-size:20px;
 		}

 		 #menup {
 		 	display:none;
 		 }

 		 .lefts {	
 		 	display:none;
 		 }	

 		 .centers {
 		 	display:none;
 		 }

 		 .rights{
 		 	display:none;
 		 }
 	}	


 	@media only screen and (min-width: 768px) and (max-device-width: 768px) {
 		li a {
 			padding:2px;
 			margin-left:0px;
 		}
			.menu {
 			display:flex;
 			flex-direction:column;
 			align-items: center;
 			justify-content: center;
 		}
 		.story h1 {
 			font-size:60px;
 			margin-top:120px;
 		}

 		 .story p {
 		 	font-size:30px;
 		 	width:620px;		  
 		 }

 		 .menu h1 {
 		 	font-size:90px;
 		 }
 			
 		.menu .view {
 			font-size:40px;
 		}

 		 #menup {
 		 	display:none;
 		 }

 		 .lefts {	
 		 	display:none;
 		 }	

 		 .centers {
 		 	display:none;
 		 }

 		 .rights{
 		 	display:none;
 		 } 		  
 	}


 	@media only screen and (min-width:1280px) and(max-device-width:1280px) {
 	 
 	}	

 	@media only screen and (min-width:) and(max-device-width:) {
 			
 	}
 /*FINISHED MEDIA QUERY*/	

 /*SECTION TWO BEGINS HERE*/

 .story {

 	 
 	display:flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
 	background-image:url("SectionImages/sec2bg.jpg");
 	background-repeat:no-repeat;
 	background-size:cover;
 	width:100%;
 	height:100vh;
 	color:#FFF;


 }
 /*THE TITLE IS BELOW*/
	.our {
		font-family: 'Open Sans', sans-serif;
		color:#FFF;
		font-weight: 450;
		margin-top: 90px;
		letter-spacing: 1px;
		text-transform: uppercase;
	 	padding-bottom:60px;
	 	 z-index:1000;
	 	border-bottom: 1px solid #FFF;
	 	bottom:0;
	 	padding:2px;
	 	 
	}


		.parastory {
			z-index:1000;
		 	font-family: 'Open Sans', sans-serif;
			color:#FFF;
			font-weight: 450;
			font-size:20px;
			width:600px;
			text-align:center;
			padding-bottom:40px;
		}
			
			  
/*SECTION 2 ENDS HERE*/

/*SECTION 3 */
 .menu {
 	 	font-family: 'Open Sans', sans-serif;
 	padding:1px;
 	background:#BD7F46;
 	height:100vh;
 	width:100%;
 }
	/*THE WORD MENU*/
	 	.menTitle {
	 		font-size:40px;
	 		padding-top:130px;
	 		letter-spacing:2px;
	 		text-transform:uppercase;
	 		text-align:center;
	 		color:#FFF;
	 	}
	 	/*View PDF Text*/
	 	.view {
	 		 font-size:12px;
	 		color:#FFF;
	 		text-align:center;
	 	}

	 	#here {
	 		color:#E8C400;
	 	}





/*BOOTSTRAP SWAG STARTS HERE*/
 .row {
 	 
 	text-align:center;
 }




	.lefts {
		letter-spacing:3px;
		text-transform: uppercase;
		font-size:25px;
		color:#FFF;
 	}

	.centers {
		letter-spacing: 3px;
		text-transform:uppercase;
		font-size:25px;
		color:#FFF;
	 
	}

	.rights {
		letter-spacing:3px;
		text-transform:uppercase;
		font-size:25px;
		color:#FFF;
		 
	}

	/*THE MENU THINGS*/
	.food-items {
		text-align:center;
	}

	#menup {	

 
		font-size:14px;
		color:#FFF;
	}

	#food-title {
		letter-spacing: 3px;
		text-transform:uppercase;
	}
 	

/*SECTION THREE ENDS ABOVE*/
	

/*SECTION 4 Starts HERE*/
	.location {

		height:100vh;
		width:100%;
		background-image:url("SectionImages/sec4bg.jpg");
		background-size:cover;
		background-repeat:no-repeat;
	}

	.overlay-brown {

		color:#FFF;
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		height:100vh;
		width:100%;
		background:#BD7F46;
		opacity:0.9;
	}

	.overlay2 {

			color:#FFF;
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		height:100vh;
		width:100%;
		background:#BD7F46;
		opacity:0.70;
	}

	.locationh2, .street, .hours, .time, .phone{
		font-family: 'Open Sans', sans-serif;
	}
	.locationh2 {
		margin-top:130px;
		 font-weight:300;
		font-size:25px;
	}

	.street {
		 font-weight:300;
		font-size:20px;
	}

	.hours {
		 font-weight:300;
		font-size:25px;
	}

	.time {
		 font-weight:300;
		font-size:20px;
	}

	.phone {
		font-weight:300;
		font-size:18px;
	}

	.contact {
		display:flex;
		flex-direction:column;
		justify-content: center;
		align-items: center;
		width:100%;
		height:140px;
		background:#BD7F46;
	}

	.closings {
		font-family: 'Open Sans', sans-serif;
		color:#FFF;
		font-weight:300;
	}

	#whiteID {
		color:#FFF;
	}

	#white1234 {
		color:#FFF;
	}